<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title> <?=$this->job->getTitle() ?
         'Ihre Anzeige ' . $this->job->getTitle() :
         'Bewerbungsformular für Ihre Anzeige';?> </title>
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    #outlook a {
      padding: 0;
    }

    body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    table,
    td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }

    img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    p {
      display: block;
      margin: 13px 0;
    }
  </style>
  <!--[if mso]>
        <noscript>
        <xml>
        <o:OfficeDocumentSettings>
          <o:AllowPNG/>
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
        </xml>
        </noscript>
        <![endif]-->
  <!--[if lte mso 11]>
        <style type="text/css">
          .mj-outlook-group-fix { width:100% !important; }
        </style>
        <![endif]-->
  <style type="text/css">
    @media only screen and (min-width:480px) {
      .mj-column-per-100 {
        width: 100% !important;
        max-width: 100%;
      }

      .mj-column-per-50 {
        width: 50% !important;
        max-width: 50%;
      }
    }
  </style>
  <style media="screen and (min-width:480px)">
    .moz-text-html .mj-column-per-100 {
      width: 100% !important;
      max-width: 100%;
    }

    .moz-text-html .mj-column-per-50 {
      width: 50% !important;
      max-width: 50%;
    }
  </style>
  <style type="text/css">
    .mj-carousel {
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    .mj-carousel-23835486b7af-icons-cell {
      display: table-cell !important;
      width: 20px !important;
    }

    .mj-carousel-radio,
    .mj-carousel-next,
    .mj-carousel-previous {
      display: none !important;
    }

    .mj-carousel-thumbnail,
    .mj-carousel-next,
    .mj-carousel-previous {
      touch-action: manipulation;
    }

    .mj-carousel-23835486b7af-radio:checked+.mj-carousel-content .mj-carousel-image,
    .mj-carousel-23835486b7af-radio:checked+*+.mj-carousel-content .mj-carousel-image,
    .mj-carousel-23835486b7af-radio:checked+*+*+.mj-carousel-content .mj-carousel-image,
    .mj-carousel-23835486b7af-radio:checked+*+*+*+.mj-carousel-content .mj-carousel-image,
    .mj-carousel-23835486b7af-radio:checked+*+*+*+*+.mj-carousel-content .mj-carousel-image,
    .mj-carousel-23835486b7af-radio:checked+*+*+*+*+*+.mj-carousel-content .mj-carousel-image {
      display: none !important;
    }

    .mj-carousel-23835486b7af-radio-1:checked+*+*+*+*+*+.mj-carousel-content .mj-carousel-image-1,
    .mj-carousel-23835486b7af-radio-2:checked+*+*+*+*+.mj-carousel-content .mj-carousel-image-2,
    .mj-carousel-23835486b7af-radio-3:checked+*+*+*+.mj-carousel-content .mj-carousel-image-3,
    .mj-carousel-23835486b7af-radio-4:checked+*+*+.mj-carousel-content .mj-carousel-image-4,
    .mj-carousel-23835486b7af-radio-5:checked+*+.mj-carousel-content .mj-carousel-image-5,
    .mj-carousel-23835486b7af-radio-6:checked+.mj-carousel-content .mj-carousel-image-6 {
      display: block !important;
    }

    .mj-carousel-previous-icons,
    .mj-carousel-next-icons,
    .mj-carousel-23835486b7af-radio-1:checked+*+*+*+*+*+.mj-carousel-content .mj-carousel-next-2,
    .mj-carousel-23835486b7af-radio-2:checked+*+*+*+*+.mj-carousel-content .mj-carousel-next-3,
    .mj-carousel-23835486b7af-radio-3:checked+*+*+*+.mj-carousel-content .mj-carousel-next-4,
    .mj-carousel-23835486b7af-radio-4:checked+*+*+.mj-carousel-content .mj-carousel-next-5,
    .mj-carousel-23835486b7af-radio-5:checked+*+.mj-carousel-content .mj-carousel-next-6,
    .mj-carousel-23835486b7af-radio-6:checked+.mj-carousel-content .mj-carousel-next-1,
    .mj-carousel-23835486b7af-radio-1:checked+*+*+*+*+*+.mj-carousel-content .mj-carousel-previous-6,
    .mj-carousel-23835486b7af-radio-2:checked+*+*+*+*+.mj-carousel-content .mj-carousel-previous-1,
    .mj-carousel-23835486b7af-radio-3:checked+*+*+*+.mj-carousel-content .mj-carousel-previous-2,
    .mj-carousel-23835486b7af-radio-4:checked+*+*+.mj-carousel-content .mj-carousel-previous-3,
    .mj-carousel-23835486b7af-radio-5:checked+*+.mj-carousel-content .mj-carousel-previous-4,
    .mj-carousel-23835486b7af-radio-6:checked+.mj-carousel-content .mj-carousel-previous-5 {
      display: block !important;
    }

    .mj-carousel-23835486b7af-radio-1:checked+*+*+*+*+*+.mj-carousel-content .mj-carousel-23835486b7af-thumbnail-1,
    .mj-carousel-23835486b7af-radio-2:checked+*+*+*+*+.mj-carousel-content .mj-carousel-23835486b7af-thumbnail-2,
    .mj-carousel-23835486b7af-radio-3:checked+*+*+*+.mj-carousel-content .mj-carousel-23835486b7af-thumbnail-3,
    .mj-carousel-23835486b7af-radio-4:checked+*+*+.mj-carousel-content .mj-carousel-23835486b7af-thumbnail-4,
    .mj-carousel-23835486b7af-radio-5:checked+*+.mj-carousel-content .mj-carousel-23835486b7af-thumbnail-5,
    .mj-carousel-23835486b7af-radio-6:checked+.mj-carousel-content .mj-carousel-23835486b7af-thumbnail-6 {
      border-color: #cccccc !important;
    }

    .mj-carousel-image img+div,
    .mj-carousel-thumbnail img+div {
      display: none !important;
    }

    .mj-carousel-23835486b7af-thumbnail:hover+*+*+*+*+*+.mj-carousel-main .mj-carousel-image,
    .mj-carousel-23835486b7af-thumbnail:hover+*+*+*+*+.mj-carousel-main .mj-carousel-image,
    .mj-carousel-23835486b7af-thumbnail:hover+*+*+*+.mj-carousel-main .mj-carousel-image,
    .mj-carousel-23835486b7af-thumbnail:hover+*+*+.mj-carousel-main .mj-carousel-image,
    .mj-carousel-23835486b7af-thumbnail:hover+*+.mj-carousel-main .mj-carousel-image,
    .mj-carousel-23835486b7af-thumbnail:hover+.mj-carousel-main .mj-carousel-image {
      display: none !important;
    }

    .mj-carousel-thumbnail:hover {
      border-color: #fead0d !important;
    }

    .mj-carousel-23835486b7af-thumbnail-1:hover+*+*+*+*+*+.mj-carousel-main .mj-carousel-image-1,
    .mj-carousel-23835486b7af-thumbnail-2:hover+*+*+*+*+.mj-carousel-main .mj-carousel-image-2,
    .mj-carousel-23835486b7af-thumbnail-3:hover+*+*+*+.mj-carousel-main .mj-carousel-image-3,
    .mj-carousel-23835486b7af-thumbnail-4:hover+*+*+.mj-carousel-main .mj-carousel-image-4,
    .mj-carousel-23835486b7af-thumbnail-5:hover+*+.mj-carousel-main .mj-carousel-image-5,
    .mj-carousel-23835486b7af-thumbnail-6:hover+.mj-carousel-main .mj-carousel-image-6 {
      display: block !important;
    }

    .mj-carousel noinput {
      display: block !important;
    }

    .mj-carousel noinput .mj-carousel-image-1 {
      display: block !important;
    }

    .mj-carousel noinput .mj-carousel-arrows,
    .mj-carousel noinput .mj-carousel-thumbnails {
      display: none !important;
    }

    [owa] .mj-carousel-thumbnail {
      display: none !important;
    }

    @media screen yahoo {

      .mj-carousel-23835486b7af-icons-cell,
      .mj-carousel-previous-icons,
      .mj-carousel-next-icons {
        display: none !important;
      }

      .mj-carousel-23835486b7af-radio-1:checked+*+*+*+*+*+.mj-carousel-content .mj-carousel-23835486b7af-thumbnail-1 {
        border-color: transparent;
      }
    }
  </style>
</head>

<body style="word-spacing:normal;background-color:#fef1df;">
  <div style="background-color:#fef1df;">
    <!--[if mso | IE]><table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:700px;" width="700" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
    <div style="margin:0px auto;max-width:700px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
              <!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="vertical-align:top;width:700px;" ><![endif]-->
              <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                  <tbody>
                    <tr>
                      <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                        <div style="font-family:Arial;font-size:13px;line-height:1;text-align:center;color:#555555;">mit kleinen Änderungen weiterkommen.</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]></td></tr></table><![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]></td></tr></table><table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:700px;" width="700" bgcolor="#ffffff" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
    <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:700px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
              <!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><![endif]--> <?php
      $title = $this->job->getTitle() ?
         'Ihre Anzeige ' . $this->job->getTitle() :
         'Bewerbungsformular für Ihre Anzeige';

      $link=$this->job->getLink() ? : '';
      $parts=parse_url($link);

      switch($parts['host']) {
        case "jobs.kliniken.de":
          $aufPortal = "auf <a href=\"$link\">Kliniken.de</a>";
          break;
        case "www.yourfirm.de":
          $aufPortal = "auf dem Portal <a href=\"$link\">Yourfirm.de</a>";
          break;
        case "stellenmarkt.sueddeutsche.de":
          $aufPortal = "auf den Seiten der <a href=\"$link\">Süddeutschen</a>";
          break;
        case "jobsintown.de":
          $aufPortal = "auf der Jobbörse <a href=\"$link\">Jobsintown</a>";
          break;
        default:
          $aufPortal = 'im Internet (' . $parts['host'] . ')';
      }

      $this->mail->setSubject($title);

      ?>
              <!--[if mso | IE]><td class="" style="vertical-align:top;width:350px;" ><![endif]-->
              <div class="mj-column-per-50 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                  <tbody>
                    <tr>
                      <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                        <div style="font-family:Arial;font-size:13px;line-height:1;text-align:left;color:#555555;">
                          <p>Sehr geehrte Damen und Herren,</p>
                          <p> ich habe Ihre Stellenanzeige "<?=$this->job->getTitle()?>" <?=$aufPortal?> gefunden. Mir ist aufgefallen, dass in der Anzeige Ihre Email Adresse veröffentlicht wurde. Dies kann gewollt sein, aber häufig geschieht das, weil man denkt, dass Formulare kompliziert und teuer sind. </p>
                          <p> Deshalb habe ich Ihnen einfach mal ein Formular erstellt. Wenn man es ausfüllt, werden die Daten per Mail an Ihre Email Adresse geschickt. </p>
                          <p> So können Sie einfach für sich testen, ob Ihnen ein Formular Vorteile bringt. Natürlich völlig unverbindlich und kostenfrei. </p>
                          <p> Wenn Ihr Logo im Formular erscheinen soll, senden Sie es mir einfach per Mail. Wir fügen es dann in das Formular ein. </p>
                          <p> Und selbstverständlich speichern wir keine Daten. Die Formulardaten werden auf unserem Server in eine Mail umgewandelt und an ihre Adresse gesendet. </p>
                          <p> Viel Spaß beim Testen! </p>
                          <p>mit freundlichen Grüßen,</p>
                          <p>Carsten Bleek</p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" vertical-align="middle" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                          <tr>
                            <td align="center" bgcolor="#5498d7" role="presentation" style="border:none;border-radius:3px;cursor:auto;mso-padding-alt:10px 25px;background:#5498d7;" valign="middle">
                              <a href="<?=$this->formLink?>" style="display:inline-block;background:#5498d7;color:white;font-family:Helvetica;font-size:13px;font-weight:normal;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px;mso-padding-alt:0px;border-radius:3px;" target="_blank"> zum Bewerbungsformular </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]></td><td class="" style="vertical-align:top;width:350px;" ><![endif]-->
              <div class="mj-column-per-50 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                  <tbody>
                    <tr>
                      <td align="center" style="font-size:0px;word-break:break-word;">
                        <!--[if !mso><!-->
                        <div class="mj-carousel">
                          <input class="mj-carousel-radio mj-carousel-23835486b7af-radio mj-carousel-23835486b7af-radio-1" checked="checked" type="radio" name="mj-carousel-radio-23835486b7af" id="mj-carousel-23835486b7af-radio-1" style="display:none;mso-hide:all;" />
                          <input class="mj-carousel-radio mj-carousel-23835486b7af-radio mj-carousel-23835486b7af-radio-2" type="radio" name="mj-carousel-radio-23835486b7af" id="mj-carousel-23835486b7af-radio-2" style="display:none;mso-hide:all;" />
                          <input class="mj-carousel-radio mj-carousel-23835486b7af-radio mj-carousel-23835486b7af-radio-3" type="radio" name="mj-carousel-radio-23835486b7af" id="mj-carousel-23835486b7af-radio-3" style="display:none;mso-hide:all;" />
                          <input class="mj-carousel-radio mj-carousel-23835486b7af-radio mj-carousel-23835486b7af-radio-4" type="radio" name="mj-carousel-radio-23835486b7af" id="mj-carousel-23835486b7af-radio-4" style="display:none;mso-hide:all;" />
                          <input class="mj-carousel-radio mj-carousel-23835486b7af-radio mj-carousel-23835486b7af-radio-5" type="radio" name="mj-carousel-radio-23835486b7af" id="mj-carousel-23835486b7af-radio-5" style="display:none;mso-hide:all;" />
                          <input class="mj-carousel-radio mj-carousel-23835486b7af-radio mj-carousel-23835486b7af-radio-6" type="radio" name="mj-carousel-radio-23835486b7af" id="mj-carousel-23835486b7af-radio-6" style="display:none;mso-hide:all;" />
                          <div class="mj-carousel-content mj-carousel-23835486b7af-content" style="display:table;width:100%;table-layout:fixed;text-align:center;font-size:0px;">
                            <a style="border:2px solid transparent;border-radius:10px;display:inline-block;overflow:hidden;width:80px;" href="#1" target="_blank" class="mj-carousel-thumbnail mj-carousel-23835486b7af-thumbnail mj-carousel-23835486b7af-thumbnail-1 ">
                              <label for="mj-carousel-23835486b7af-radio-1">
                                <img style="display:block;width:100%;height:auto;" src="https://kostenlose-bewerbungsformulare.yawik.org/screens/screen1-contact.png" width="80" />
                              </label>
                            </a>
                            <a style="border:2px solid transparent;border-radius:10px;display:inline-block;overflow:hidden;width:80px;" href="#2" target="_blank" class="mj-carousel-thumbnail mj-carousel-23835486b7af-thumbnail mj-carousel-23835486b7af-thumbnail-2 ">
                              <label for="mj-carousel-23835486b7af-radio-2">
                                <img style="display:block;width:100%;height:auto;" src="https://kostenlose-bewerbungsformulare.yawik.org/screens/screen2-coverletter.png" width="80" />
                              </label>
                            </a>
                            <a style="border:2px solid transparent;border-radius:10px;display:inline-block;overflow:hidden;width:80px;" href="#3" target="_blank" class="mj-carousel-thumbnail mj-carousel-23835486b7af-thumbnail mj-carousel-23835486b7af-thumbnail-3 ">
                              <label for="mj-carousel-23835486b7af-radio-3">
                                <img style="display:block;width:100%;height:auto;" src="https://kostenlose-bewerbungsformulare.yawik.org/screens/screen3-attachments.png" width="80" />
                              </label>
                            </a>
                            <a style="border:2px solid transparent;border-radius:10px;display:inline-block;overflow:hidden;width:80px;" href="#4" target="_blank" class="mj-carousel-thumbnail mj-carousel-23835486b7af-thumbnail mj-carousel-23835486b7af-thumbnail-4 ">
                              <label for="mj-carousel-23835486b7af-radio-4">
                                <img style="display:block;width:100%;height:auto;" src="https://kostenlose-bewerbungsformulare.yawik.org/screens/screen6-questions.png" width="80" />
                              </label>
                            </a>
                            <a style="border:2px solid transparent;border-radius:10px;display:inline-block;overflow:hidden;width:80px;" href="#5" target="_blank" class="mj-carousel-thumbnail mj-carousel-23835486b7af-thumbnail mj-carousel-23835486b7af-thumbnail-5 ">
                              <label for="mj-carousel-23835486b7af-radio-5">
                                <img style="display:block;width:100%;height:auto;" src="https://kostenlose-bewerbungsformulare.yawik.org/screens/screen4-preview.png" width="80" />
                              </label>
                            </a>
                            <a style="border:2px solid transparent;border-radius:10px;display:inline-block;overflow:hidden;width:80px;" href="#6" target="_blank" class="mj-carousel-thumbnail mj-carousel-23835486b7af-thumbnail mj-carousel-23835486b7af-thumbnail-6 ">
                              <label for="mj-carousel-23835486b7af-radio-6">
                                <img style="display:block;width:100%;height:auto;" src="https://kostenlose-bewerbungsformulare.yawik.org/screens/screen5-privacy.png" width="80" />
                              </label>
                            </a>
                            <table style="caption-side:top;display:table-caption;table-layout:fixed;width:100%;" border="0" cell-padding="0" cell-spacing="0" width="100%" role="presentation" class="mj-carousel-main">
                              <tbody>
                                <tr>
                                  <td class="mj-carousel-23835486b7af-icons-cell" style="font-size:0px;display:none;mso-hide:all;padding:0px;">
                                    <div class="mj-carousel-previous-icons" style="display:none;mso-hide:all;">
                                      <label for="mj-carousel-23835486b7af-radio-1" class="mj-carousel-previous mj-carousel-previous-1">
                                        <img src="https://i.imgur.com/xTh3hln.png" alt="previous" style="display:block;width:20px;height:auto;" width="20" />
                                      </label>
                                      <label for="mj-carousel-23835486b7af-radio-2" class="mj-carousel-previous mj-carousel-previous-2">
                                        <img src="https://i.imgur.com/xTh3hln.png" alt="previous" style="display:block;width:20px;height:auto;" width="20" />
                                      </label>
                                      <label for="mj-carousel-23835486b7af-radio-3" class="mj-carousel-previous mj-carousel-previous-3">
                                        <img src="https://i.imgur.com/xTh3hln.png" alt="previous" style="display:block;width:20px;height:auto;" width="20" />
                                      </label>
                                      <label for="mj-carousel-23835486b7af-radio-4" class="mj-carousel-previous mj-carousel-previous-4">
                                        <img src="https://i.imgur.com/xTh3hln.png" alt="previous" style="display:block;width:20px;height:auto;" width="20" />
                                      </label>
                                      <label for="mj-carousel-23835486b7af-radio-5" class="mj-carousel-previous mj-carousel-previous-5">
                                        <img src="https://i.imgur.com/xTh3hln.png" alt="previous" style="display:block;width:20px;height:auto;" width="20" />
                                      </label>
                                      <label for="mj-carousel-23835486b7af-radio-6" class="mj-carousel-previous mj-carousel-previous-6">
                                        <img src="https://i.imgur.com/xTh3hln.png" alt="previous" style="display:block;width:20px;height:auto;" width="20" />
                                      </label>
                                    </div>
                                  </td>
                                  <td style="padding:0px;">
                                    <div class="mj-carousel-images">
                                      <div class="mj-carousel-image mj-carousel-image-1 " style="">
                                        <img title="Eingabe der Kontaktdaten" src="https://kostenlose-bewerbungsformulare.yawik.org/screens/screen1-contact.png" style="border-radius:10px;display:block;width:350px;max-width:100%;height:auto;" width="350" border="0" />
                                      </div>
                                      <div class="mj-carousel-image mj-carousel-image-2 " style="display:none;mso-hide:all;">
                                        <img title="persönliches Anschreiben" src="https://kostenlose-bewerbungsformulare.yawik.org/screens/screen2-coverletter.png" style="border-radius:10px;display:block;width:350px;max-width:100%;height:auto;" width="350" border="0" />
                                      </div>
                                      <div class="mj-carousel-image mj-carousel-image-3 " style="display:none;mso-hide:all;">
                                        <img title="Foto und weitere Anhänge" src="https://kostenlose-bewerbungsformulare.yawik.org/screens/screen3-attachments.png" style="border-radius:10px;display:block;width:350px;max-width:100%;height:auto;" width="350" border="0" />
                                      </div>
                                      <div class="mj-carousel-image mj-carousel-image-4 " style="display:none;mso-hide:all;">
                                        <img title="Individuelle Fragen" src="https://kostenlose-bewerbungsformulare.yawik.org/screens/screen6-questions.png" style="border-radius:10px;display:block;width:350px;max-width:100%;height:auto;" width="350" border="0" />
                                      </div>
                                      <div class="mj-carousel-image mj-carousel-image-5 " style="display:none;mso-hide:all;">
                                        <img title="Vorschau" src="https://kostenlose-bewerbungsformulare.yawik.org/screens/screen4-preview.png" style="border-radius:10px;display:block;width:350px;max-width:100%;height:auto;" width="350" border="0" />
                                      </div>
                                      <div class="mj-carousel-image mj-carousel-image-6 " style="display:none;mso-hide:all;">
                                        <img title="Datenschutzbestimmung" src="https://kostenlose-bewerbungsformulare.yawik.org/screens/screen5-privacy.png" style="border-radius:10px;display:block;width:350px;max-width:100%;height:auto;" width="350" border="0" />
                                      </div>
                                    </div>
                                  </td>
                                  <td class="mj-carousel-23835486b7af-icons-cell" style="font-size:0px;display:none;mso-hide:all;padding:0px;">
                                    <div class="mj-carousel-next-icons" style="display:none;mso-hide:all;">
                                      <label for="mj-carousel-23835486b7af-radio-1" class="mj-carousel-next mj-carousel-next-1">
                                        <img src="https://i.imgur.com/os7o9kz.png" alt="next" style="display:block;width:20px;height:auto;" width="20" />
                                      </label>
                                      <label for="mj-carousel-23835486b7af-radio-2" class="mj-carousel-next mj-carousel-next-2">
                                        <img src="https://i.imgur.com/os7o9kz.png" alt="next" style="display:block;width:20px;height:auto;" width="20" />
                                      </label>
                                      <label for="mj-carousel-23835486b7af-radio-3" class="mj-carousel-next mj-carousel-next-3">
                                        <img src="https://i.imgur.com/os7o9kz.png" alt="next" style="display:block;width:20px;height:auto;" width="20" />
                                      </label>
                                      <label for="mj-carousel-23835486b7af-radio-4" class="mj-carousel-next mj-carousel-next-4">
                                        <img src="https://i.imgur.com/os7o9kz.png" alt="next" style="display:block;width:20px;height:auto;" width="20" />
                                      </label>
                                      <label for="mj-carousel-23835486b7af-radio-5" class="mj-carousel-next mj-carousel-next-5">
                                        <img src="https://i.imgur.com/os7o9kz.png" alt="next" style="display:block;width:20px;height:auto;" width="20" />
                                      </label>
                                      <label for="mj-carousel-23835486b7af-radio-6" class="mj-carousel-next mj-carousel-next-6">
                                        <img src="https://i.imgur.com/os7o9kz.png" alt="next" style="display:block;width:20px;height:auto;" width="20" />
                                      </label>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!--<![endif]-->
                        <!--[if mso]><div class="mj-carousel-image mj-carousel-image-1 " style="" ><img title="Eingabe der Kontaktdaten" src="https://kostenlose-bewerbungsformulare.yawik.org/screens/screen1-contact.png" style="border-radius:10px;display:block;width:350px;max-width:100%;height:auto;" width="350" border="0" /></div><![endif]-->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]></td></tr></table><![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]></td></tr></table><table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:700px;" width="700" bgcolor="#ffffff" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
    <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:700px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
              <!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="vertical-align:top;width:700px;" ><![endif]-->
              <div class="mj-column-per-100 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                  <tbody>
                    <tr>
                      <td style="font-size:0px;word-break:break-word;">
                        <div style="height:1px;line-height:1px;">&#8202;</div>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                        <div style="font-family:Arial;font-size:13px;line-height:1;text-align:left;color:#555555;">
                          <p> PS: Der Quellcode vom <a href="https://gitlab.com/yawik/applicationform">Formular</a> und vom <a href="https://gitlab.com/yawik/applicationformbackend">Mailverand</a> liegt auf Gitlab. Das Formular kann funktional und im Design angepasst werden. Kommen sie auf uns zu. Wir helfen gerne. </p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]></td></tr></table><![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]></td></tr></table><table align="center" border="0" cellpadding="0" cellspacing="0" class="" style="width:700px;" width="700" bgcolor="#eef4fb" ><tr><td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;"><![endif]-->
    <div style="background:#eef4fb;background-color:#eef4fb;margin:0px auto;max-width:700px;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#eef4fb;background-color:#eef4fb;width:100%;">
        <tbody>
          <tr>
            <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;">
              <!--[if mso | IE]><table role="presentation" border="0" cellpadding="0" cellspacing="0"><tr><td class="" style="vertical-align:top;width:350px;" ><![endif]-->
              <div class="mj-column-per-50 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                  <tbody>
                    <tr>
                      <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                        <div style="font-family:Arial;font-size:13px;line-height:1;text-align:left;color:#555555;">
                          <p> Carsten Bleek<br /> Diemelstraße 2-4<br> 60486 Frankfurt am Main<br>
                            <a href="https://yawik.org">https://yawik.org</a>
                          </p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]></td><td class="" style="vertical-align:top;width:350px;" ><![endif]-->
              <div class="mj-column-per-50 mj-outlook-group-fix" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                  <tbody>
                    <tr>
                      <td align="right" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                        <div style="font-family:Arial;font-size:13px;line-height:1;text-align:right;color:#555555;">
                          <p> Yawik Projekt<br /> Tel: 069-71910361<br> Fax: 069-71910369<br>
                            <a href="mailto:bleek@yawik.org">bleek@yawik.org</a>
                          </p>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--[if mso | IE]></td></tr></table><![endif]-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--[if mso | IE]></td></tr></table><![endif]-->
  </div>
</body>

</html>