<?php
/**
 * YAWIK
 *
 * view sript of the start page for unauthenticated users
 *
 * @copyright (c) 2013 - 2016 Cross Solution (http://cross-solution.de)
 * @license   MIT
 */

$model = new \Laminas\View\Model\ViewModel();
$model->setTemplate('used_modules');
$model->setCaptureTo('sidebar_homepage');
$this->layout()->addChild($model, 'sidebar_homepage');

?>
<h1>Application Form Backend</h1>
<p>
Dies Installation übernimmt Formulardaten aus einen Bewerbungsformular und versendet sie an die Email Adresse des zuständigen Sachbearbeiters.

https://form.yawik.org
</p>
