<?php
/**
 * YAWIK
 *
 * General layout template file. Defines the general layout.
 *
 * @copyright (c) 2021 Cross Solution (http://cross-solution.de)
 * @license   MIT
 */

/* @var $options \Core\Options\ModuleOptions */
$options = $this->services('Core/Options');
$languages = $options->getSupportedLanguages();
$lang = $this->params('lang');


// See: http://yawik.readthedocs.org/en/latest/modules/core/notifications.html

$notifications = $this->partial('core/notifications');

// set default page title

$this->headTitle($this->translate('Form2Mail'))->setSeparator(' - ')->setAutoEscape(false);

// set default keywords

$this->headMeta()->setCharset("utf-8");
$this->headMeta()->appendName("keywords", "Open Surce Bewerbermanagement System, Bewerberverwaltung");
$this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0');

$this->configHeadScript()->setAllowArbitraryAttributes(true);

$this->configHeadScript()->prependFile($this->basepath('dist/js/core.js'));

$this->configHeadScript()->appendScript('var lang="' . $this->params('lang') . '";'
    . 'var basePath="' . $this->basePath() . '";');


$this->headLink()->prependStylesheet($this->basePath('modules/ApplicationFormBackend/dist/layout.css'));

foreach ($languages as $lang) {
    $this->headLink()->appendAlternate(
        preg_replace('~^'.$this->basepath('/'.$this->params('lang')).'~',
            $this->basepath('/'.$lang),$_SERVER['REQUEST_URI']),
        'hreflang',
        $this->headTitle()->setTranslator()->renderTitle() ,
        array('hreflang'=>$lang));
}
?>
<?php echo $this->doctype(); ?>
<html lang="<?php echo $this->params('lang') ?>">
<head>
    <?php echo $this->headTitle() ?>
    <?php echo $this->headMeta() ?>
    <?php echo $this->configHeadScript() ?>
    <?php echo $this->headLink() ?>
    <?php echo $this->headStyle() ?>
    <link rel="icon" href="<?=$this->basePath('modules/ApplicationFormBackend/img/favicon-32x32.jpg')?>" sizes="32x32" />
    <link rel="icon" href="<?=$this->basePath('modules/ApplicationFormBackend/img/cropped-yawik-small-192x192.png')?>" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="<?=$this->basePath('modules/ApplicationFormBackend/img/apple-icon-180x180.png')?>" />
    <meta name="msapplication-TileImage" content="<?=$this->basePath('modules/ApplicationFormBackend/img/cropped-yawik-small-384x384.png')?>" />
</head>
<body>
<a class="sr-only" href="#content">Skip to main content</a>
<header role="banner">
    <div class=" navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse"
                    type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs" href="<?php echo $this->basepath('/' . $this->params('lang')) ?>">YAWIK Form2Mail</a>
            <a class="navbar-brand visible-xs" href="<?php echo $this->basepath('/' . $this->params('lang')) ?>">Y</a>
        </div>
        <nav id="main-navigation" class="navbar-collapse collapse navbar-collapse" role="navigation">
            <?php
            echo $this->navigation('Core/Navigation')
                ->setAcl($this->services('acl'))
                ->setRole($this->auth('role'))
                ->menu()
                ->setMaxDepth(0) // only show the top level entries
                ->setUlClass('nav navbar-nav pull-left')//renderPartial(null, 'main-navigation')
            ?>
            <?php echo $this->loginInfo() ?>
        </nav>
        <!-- /main-navigation -->
    </div>
</header>

<main id="content" class="col-md-10">
    <?php echo $notifications?>
    <?php echo $this->content; ?>
</main>
<footer id="yk-footer">
 <div class="container">
    <div class="row">
           <div class="col-md-4">
            </div>
           <div class="col-md-4" align="right">
                <span class="pull-right"><small>
                        &copy; <?php echo date("Y")?> <a href="https://yawik.org">Yawik</a>.
                        | <a href="https://yawik.org/impressum/" target="_blank"><?php echo $this->translate('Imprint') ?></a>
                        Powered by <a href="http://yawik.org">YAWIK</a> <?=$this->moduleVersion('Core') ?>
                 </small></span>
           </div>
    </div>
  </div>
</footer>
<!-- /container -->
</body>
</html>
